* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: #111111;
}

#app {
  display: block;
}

canvas {
  display: block;
}
